<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
        integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"
        integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/user/css/menucard.css">
</head>

<body class="bg-semimain">
    <nav class="navbar navbar-expand-lg navbar-light bg-white position-sticky top-0 shadow-sm z9">
        <div class="container-fluid">
            <a href="" class="navbar-brand">
                <img src="/user/img/logo.jpg" class="img-fluid" width="100px" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbarlinks">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link">About Us</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Services <span class="me-3"><i class="fas fa-chevron-down icon-small"></i></span>
                        </a>
                        <ul class="dropdown-menu navbarmenus rounded-0 shadow-sm">
                            <li class="mx-1"><a class="dropdown-item" href="/dinein">Dine in</a></li>
                            <li class="mx-1"><a class="dropdown-item" href="/dineout">Dine out</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Menu <span class="me-3"><i class="fas fa-chevron-down icon-small"></i></span>
                        </a>
                        <ul class="dropdown-menu vegnonvegmenus rounded-0 shadow-sm">
                            <li class="mx-1"><a class="dropdown-item" href="/vegmenu">Veg</a></li>
                            <li class="mx-1"><a class="dropdown-item" href="/nonvegmenu">Non veg</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

    </nav>


    <section class="menucard">
        <div class="container">
            <h3 class="text-darkmain text-center my-4">Our Menu</h3>

            <ul class="nav nav-pills py-3 d-flex justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-veg"
                        type="button" role="tab" aria-controls="pills-home" aria-selected="true">Veg</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-nonveg"
                        type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Non veg</a>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <!-- Veg Section -->
                <div class="tab-pane fade show active bg-pack rounded-3 p-4 mb-5" id="pills-veg" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                    <% if (vegMenu && vegMenu.length > 0) { %>
                        <div class="row">
                            <% vegMenu.forEach((menuItem, index) => { %>
                                <div class="col-md-6 col-sm-12">
                                    <h6 class="text-darkmain fw-semibold ps-2"><%= menuItem.menuCategory.name %></h6>
                                    <!-- Render each veg menu item here -->
                                    <div class="d-flex justify-content-between align-items-center border-dash-danger py-2 my-3 fs-5 px-2">
                                        <span class="text-dark fw-semilight"><%= menuItem.name %></span>
                                        <span class="text-darkmain fw-semibold">Rs.<%= menuItem.price %></span>
                                    </div>
                                    <p class="medium text-secondary"><%= menuItem.description %></p>
                                </div>
                                <% if ((index + 1) % 2 === 0 && index !== vegMenu.length - 1) { %>
                                    </div>
                                    <div class="row">
                                <% } %>
                            <% }); %>
                        </div>
                    <% } else { %>
                        <p>No veg items available</p>
                    <% } %>
                </div>
            
                <!-- Non-Veg Section -->
                <div class="tab-pane fade bg-pack rounded-3 p-4 mb-5" id="pills-nonveg" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                    <% if (nonVegMenu && nonVegMenu.length > 0) { %>
                        <div class="row">
                            <% nonVegMenu.forEach((menuItem, index) => { %>
                                <div class="col-md-6 col-sm-12">
                                    <h6 class="text-darkmain fw-semibold ps-2"><%= menuItem.menuCategory.name %></h6>
                                    <!-- Render each non-veg menu item here -->
                                    <div class="d-flex justify-content-between align-items-center border-dash-danger py-2 my-3 fs-5 px-2">
                                        <span class="text-dark fw-semilight"><%= menuItem.name %></span>
                                        <span class="text-darkmain fw-semibold">Rs.<%= menuItem.price %></span>
                                    </div>
                                    <p class="medium text-secondary"><%= menuItem.description %></p>
                                </div>
                                <% if ((index + 1) % 2 === 0 && index !== nonVegMenu.length - 1) { %>
                                    </div>
                                    <div class="row">
                                <% } %>
                            <% }); %>
                        </div>
                    <% } else { %>
                        <p>No non-veg items available</p>
                    <% } %>
                </div>
            </div>
            

        </div>
    </section>






    <footer class="bg-main py-3">
        <div class="container d-flex align-items-center justify-content-between flex-column flex-md-row">
            <button class="btn btn-outline-dark mb-2 mb-sm-0" data-bs-target="#sitemap"
                data-bs-toggle="modal">sitemap</button>
            <span class="text-dark mb-2 mb-2 mb-sm-0">Copyright 2023 © cloud kiten web,Nashik</span>
            <div class="social mb-2 mb-sm-0">
                <a href="" class="btn socialbtn mx-1"><i class="fab fa-instagram"></i></a>
                <a href="" class="btn socialbtn mx-1"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </footer>


    <div class="modal sitemapmodal" id="sitemap" style="transition: all 1s ease-in;">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header border-0 position-relative p-0">
                    <div class="modal-header-left">

                    </div>
                    <button class="btn-close p-4" data-bs-dismiss="modal">
                    </button>

                </div>
                <div class="modal-body d-flex flex-column flex-sm-column flex-md-row p-0">
                    <div class="modal-body-left d-flex justify-content-center align-items-center">
                        <span class="text-dark display-3 sitemapheader">SITEMAP</span>
                    </div>
                    <div class="d-flex flex-column w-65">
                        <div class="site_feature ps-5" id="feature1">
                            <p class="featurename text-cement border-bm border-bottom mb-1">
                                <span class="">1.</span>
                                DINE IN
                            </p>
                            <p class="site_featurename mb-0">
                                <span class="site_paragraph_number">1.
                                    <span class="midnumber">1</span>
                                    Lorem, ipsum dolor.
                                </span>
                            </p>
                            <p class="site_featurename mb-0">
                                <span class="site_paragraph_number">1.
                                    <span class="midnumber">2</span>
                                    Lorem, ipsum dolor.
                                </span>
                            </p>
                            <p class="site_featurename mb-0">
                                <span class="site_paragraph_number">1.
                                    <span class="midnumber">3</span>
                                    Lorem, ipsum dolor.
                                </span>
                            </p>
                        </div>
                        <div class="site_feature mt-3 ps-5" id="feature2">
                            <p class="featurename text-cement border-bm border-bottom mb-1">
                                <span class="">2.</span>
                                DINE OUT
                            </p>
                            <p class="site_featurename mb-0">
                                <span class="site_paragraph_number">2.
                                    <span class="midnumber">1</span>
                                    Lorem, ipsum dolor.
                                </span>
                            </p>
                            <p class="site_featurename mb-0">
                                <span class="site_paragraph_number">2.
                                    <span class="midnumber">2</span>
                                    Lorem, ipsum dolor.
                                </span>
                            </p>
                            <p class="site_featurename mb-0">
                                <span class="site_paragraph_number">2.
                                    <span class="midnumber">3</span>
                                    Lorem, ipsum dolor.
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" style="visibility: hidden;" id="offcanvasExampleLabel">Offcanvas</h5>
            <button class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/about.html" class="nav-link">About Us</a></li>

            </ul>
            <div class="dropdown mt-3">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    Services
                </a>
                <ul class="dropdown-menu">
                    <li class="mx-1"><a class="dropdown-item" href="/dinein.html">Dine in</a></li>
                    <li class="mx-1"><a class="dropdown-item" href="/dineout.html">Dine out</a></li>
                </ul>
            </div>
            <div class="dropdown mt-3">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    Menu
                </a>
                <ul class="dropdown-menu">
                    <li class="mx-1"><a class="dropdown-item" href="/vegmenu.html">Veg</a></li>
                    <li class="mx-1"><a class="dropdown-item" href="#">Non veg</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1c9005996e.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var modalHeader = document.querySelector(".modal-header-left");
            var modalBody = document.querySelector(".modal-body-left");
            var sitemapHeader = document.querySelector(".sitemapheader");

            // Function to remove animation properties
            var removeAnimation = function (element) {
                element.style.animation = 'none';
                element.offsetHeight; // Trigger reflow
            };

            // Function to reset initial state
            var resetInitialState = function () {
                sitemapHeader.style.opacity = 0;
                sitemapHeader.style.transform = 'translateY(50px)';
            };

            // Trigger the first animations
            modalHeader.style.animation = "none"; // Reset slide animation
            modalBody.style.animation = "none"; // Reset slide animation
            removeAnimation(sitemapHeader);

            modalHeader.style.animation = "slide 1s ease-out forwards";
            modalBody.style.animation = "slide 1s ease-out forwards";

            // After the first animation completes, reset and trigger the fadeIn animation for the specific span
            modalHeader.addEventListener("animationend", function () {
                // Reset initial state before applying fadeIn animation
                resetInitialState();
                removeAnimation(sitemapHeader);
                sitemapHeader.style.animation = "fadeUp 1s ease-out forwards";
            });

            // Additional code to reset the modal state when closing
            var closeModalButton = document.querySelector("[data-bs-dismiss='modal']");
            closeModalButton.addEventListener("click", function () {
                removeAnimation(modalHeader);
                removeAnimation(modalBody);
                resetInitialState();
            });
        });

    </script>
</body>

</html>